# Ignore Gradle project-specific cache directory in this (root) directory.
/.gradle/

# Ignore IDEA cache directory in this (root) directory.
/.idea/

# Ignore Gradle build output directories including in sub-projects.
build/

# MacOS-specific file.
.DS_Store

# Ignore the MicroSwift application journals.
/aeron-data/